{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
  </head>

  <body>
    <div class="title_and_btn">
        <h1>Products</h1>
        <hr>
        <div><a href="products/create/"><button>add</button></a></div>
    </div>
    <section>
        
    {% for data in products %}
        <a href="products/{{ data.id }}/">
            <div class="product_container">
                <div>
                    <img src="{{ data.image_url }}" width="250px" height="200px">
                </div>
                <br>
                <div class="product_id">
                    <div>{{ data.name }}</div>
                    <div><b>{{ data.price }} $</b></div>
                    <div><b>{{ data.stock }}</b> In Stock</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
  </body>
</html>
